# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*.{kt,kts}]
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
indent_size = 2
indent_style = space

[Makefile]
indent_style = tab

[*.{md,adoc}]
indent_size = 4

[*.bat]
end_of_line = crlf
